<div th:fragment="header" class="fixed-top">
    <div class="header-main-menu">
        <div class="container">
            <div class="main-menu-body">
                <a href="#" class="main-menu-btn">
                    <span class="main-menu-btn-burger"></span>
                </a>
                <a href="/" class="main-menu-logo">
                    <!--<img src="" alt="">-->
                    <h3 class="mb-2" style="white-space: nowrap;">Ozero News</h3>
                </a>
                <nav class="main-menu">
                    <ul class="main-menu-list">
                        <li class="">
                            <a th:class="${currentPage == 'news'} ? 'main-menu-list-link active' : 'main-menu-list-link'"
                               th:href="@{/news/news/all}">Все новости</a>
                        </li>
                        <li th:if="${user.getRole.isEmpty()}" class="">
                            <a class="main-menu-list-link disable" style=""
                               th:href="@{/subscriptions/news/all}">Моя лента</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ADMIN') OR hasAnyAuthority('USER')" class="">
                            <a th:class="${currentPage == 'subscriptions'} ? 'main-menu-list-link active' : 'main-menu-list-link'"
                               th:href="@{/subscriptions/news/all}">Моя лента</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ADMIN')" class=""> <!--sec:authorize="hasRole('ADMIN')" -->
                            <a  th:class="${#strings.startsWith(currentPage,'admin')} ? 'main-menu-list-link active' : 'main-menu-list-link'"
                                th:href="@{/administration}">Администрирование</a>
                        </li>
                    </ul>
                    <div th:if="${currentPage == 'news' || currentPage == 'subscriptions'}"  class="main-menu-search ms-auto">
                        <form name="formSearch" id="formSearch" class="d-flex">
                            <input type="text" name="search" id="fldSearch"
                                   class="form-control form-control-sm me-2"
                                   onKeyup="checkFormSearch()" placeholder="Поиск" aria-label="Поиск">
                            <button type="button" class="btn-main main-menu-search-btn" id="btnSearchArticles">Поиск</button>
                        </form> <!--th:method="POST" th:action="@{/news/all/search}" th:object="${search}"-->
                    </div>
                </nav>

                <div class="d-flex align-items-center">
                    <div class="main-menu-btn-toggle-theme">
                        <a href="#" class="main-menu-btn-toggle-theme-lnk" id="btnToggleTheme">
                            <img src="/static/images/theme_light.png"
                                 class="main-menu-btn-toggle-theme-img" id="imgToggleTheme" alt="">
                        </a>
                    </div>

                    <div th:if="${user.getEmail() != null}"  class="main-menu-dropdown">
                        <a class="main-menu-btn-dropdown">
                            <img th:src="${user.avatar == null} ? @{/static/images/login.png} : @{{avatar}(avatar = ${user.getAvatar()})}"
                                 class="main-menu-user-img" alt="">
                        </a>
                        <ul class="main-menu-dropdown-content">
                            <li class="py-2 border-bottom">
                                <a th:href="@{/users}" class="main-menu-dropdown-link">
                                    <div class="d-inline-flex">
                                        <div class="">
                                            <div class="profile-image-box m-0" style="width: 3.0rem; height: 3.0rem;">
                                                <img th:src="${user.avatar == null} ? @{/static/images/login.png} : @{{avatar}(avatar = ${user.getAvatar()})}"
                                                     class="profile-image-img mx-auto" id="profileImage" alt="">
                                            </div>
                                        </div>
                                        <div class="ml-3">
                                            <p th:text="${user.username}" class="m-0" style="white-space: nowrap; font-weight: 600;">Nickname</p>
                                            <p class="m-0" style="white-space: nowrap;">Мой профиль</p>
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li class="py-2 border-bottom">
                                <a th:href="@{/users/subscriptions}" class="main-menu-dropdown-link">Мои подписки</a>
                            </li>
                            <li class="py-2">
                                <form method="POST" th:action="@{/logout}" class="w-auto">
                                    <input class="main-menu-dropdown-link" type="submit" value="Выйти">
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div th:if="${user.getEmail() == null}" class="main-menu-user-control">
                        <a th:if="${user.getEmail() == null}" th:href="@{/login}" class="btn-main main-menu-login-btn">Вход</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>