<!DOCTYPE HTML>
<html class="h-100" data-lt-installed="true" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<body class="user-page flex-column">
<header th:replace="fragments/header :: header"></header>
<main class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div th:replace="fragments/menu-profile :: menu-profile"></div>
    </div>
    <div class="col" style="max-width: 768px;">
      <div class="main-block">
        <div class="row justify-content-center">
          <h1 class="ttl-3">Изменение пароля</h1> <!--h3 fw-normal text-center my-3-->
          <div th:if="${message != null}" th:text="${message}"
               th:class="${messageType}" role="alert" style="width: auto;">
          </div>
          <form method="POST" th:action="@{/users/changepassword}" class="text-center">
            <div class="row my-2 p-0 align-items-center justify-content-center">
              <label class="col-12 col-sm-10 col-md-4 lbl-3" for="password">Текущий пароль<sup>*</sup>:</label>
              <div class="col-12 col-sm-10 col-md-8">
                <input th:field="*{password}" type="password" name="password" id="password"
                       th:class="${passwordError != null} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm' "
                       onKeyup="checkFormChangePassword()" placeholder="Введите текущий пароль" autofocus="true">
                <span th:if="${passwordError != null}" th:text="${passwordError}" class="invalid-feedback"></span>
              </div>
            </div>
            <div class="row my-2 p-0 align-items-center justify-content-center">
              <label class="col-12 col-sm-10 col-md-4 lbl-3" for="newPassword">Новый пароль<sup>*</sup>:</label>
              <div class="col-12 col-sm-10 col-md-8">
                <input th:field="*{newPassword}" type="password" name="newPassword" id="newPassword"
                       th:class="${newPasswordError != null} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm' "
                       onKeyup="checkFormChangePassword()" placeholder="Введите новый пароль">
                <span th:if="${newPasswordError != null}" th:text="${newPasswordError}" class="invalid-feedback"></span>
              </div>
            </div>
            <div class="row my-2 p-0 align-items-center justify-content-center">
              <label class="col-12 col-sm-10 col-md-4 lbl-3" for="newPassword2">Подтверждение пароля<sup>*</sup>:</label>
              <div class="col-12 col-sm-10 col-md-8">
                <input th:field="*{newPassword2}" type="password" name="newPassword2" id="newPassword2"
                       th:class="${newPassword2Error != null} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm' "
                       onKeyup="checkFormChangePassword()" placeholder="Подтвердите новый пароль">
                <span th:if="${newPassword2Error != null}" th:text="${newPassword2Error}" class="invalid-feedback"></span>
              </div>
            </div>
            <button class="btn btn-md btn-primary w-auto my-3" type="submit" id="btnChangePassword">Сохранить пароль</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>