<!DOCTYPE HTML>
<html class="h-100" data-lt-installed="true" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head">></head>
<body class="user-page flex-column">
<header th:replace="fragments/header :: header" class="fixed-top"></header>
<main class="container d-flex">
    <div class="row m-auto align-items-center justify-content-center">
        <h1 class="ttl-3">Новый пароль</h1>
        <div class="col-10 col-md-8">
            <div th:if="${message != null}" th:text="${message}"
                 th:class="${messageType}" role="alert" style="width: auto;">
            </div>
            <form method="POST" th:action="@{/recovery/{recoveryCode}(recoveryCode = ${recoveryUser.getRecoveryCode()})}"
                  th:object="${recoveryUser}" class="text-center">
                <div class="mb-3 text-left">
                    <label for="password" class="form-label lbl-3">Новый пароль</label>
                    <input th:field="*{password}" type="password" name="password" id="password"
                           th:class="${#fields.hasErrors('password') || passwordError != null} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm' "
                           onKeyup="checkFormNewPassword()" placeholder="Введите новый пароль" autofocus="true">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback">Text error</span>
                    <span th:if="${passwordError != null}" th:text="${passwordError}" class="invalid-feedback"></span>
                </div>
                <div class="mb-3 text-left">
                    <label for="password2" class="form-label lbl-3">Подтверждение пароля</label>
                    <input th:field="*{password2}" type="password" name="password2" id="password2"
                           th:class="${#fields.hasErrors('password') || password2Error != null} ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm' "
                           onKeyup="checkFormNewPassword()" placeholder="Подтвердите пароль">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback">Text error</span>
                    <span th:if="${password2Error != null}" th:text="${password2Error}" class="invalid-feedback"></span>
                </div>
                <button class="btn btn-md btn-primary w-75 my-3" type="submit" id="btnNewPassword">Сменить пароль</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>