<!DOCTYPE HTML>
<html class="h-100" data-lt-installed="true" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<body class="about-page flex-column">
<header th:replace="fragments/header :: header"></header>
<main class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <div th:replace="fragments/menu-about :: menu-about"></div>
    </div>
    <div class="col mb-3" style="max-width: 768px;">
      <div class="content-about">
        <div class="">
          <h1 class="about-title">Политика конфиденциальности</h1>
          <ul class="about-subtitle">Общие положения
            <li>
              Администрация веб-сайта <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a> ставит соблюдение прав и свобод
              граждан одним из важнейших условий осуществления своей деятельности.
            </li>
            <li>
              Политика <span th:text="${head.websiteName}"></span> в отношении обработки персональных данных
              (далее по тексту — Политика) применяется ко всей информации, которую <span th:text="${head.websiteName}"></span>
              может получить о посетителях веб-сайта <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a>.
              Персональные данные обрабатывается в соответствии с ФЗ «О персональных данных» № 152-ФЗ.
            </li>
          </ul>
          <ul class="about-subtitle">Основные понятия, используемые в Политике
            <li>
              Веб-сайт - совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных,
              обеспечивающих их доступность в сети интернет по сетевому адресу
              <a th:href="@{head.websiteURL}" th:text="${head.websiteURL}"></a>.
            </li>
            <li>
              Пользователь – любой посетитель веб-сайта <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a>.
            </li>
            <li>
              Персональные данные – любая информация, относящаяся к Пользователю веб-сайта
              <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a>.
            </li>
            <li>
              Обработка персональных данных - любое действие с персональными данными, совершаемые с использованием ЭВМ,
              равно как и без их использования.
            </li>
            <li>
              Обезличивание персональных данных – действия, результатом которых является невозможность без использования
              дополнительной информации определить принадлежность персональных данных конкретному Пользователю или лицу.
            </li>
            <li>
              Распространение персональных данных – любые действия, результатом которых является раскрытие персональных
              данных неопределенному кругу лиц.
            </li>
            <li>
              Предоставление персональных данных – любые действия, результатом которых является раскрытие персональных
              данных определенному кругу лиц.
            </li>
            <li>
              Уничтожение персональных данных – любые действия, результатом которых является безвозвратное уничтожение
              персональных на ЭВМ или любых других носителях.
            </li>
          </ul>
          <ul class="about-subtitle"><span th:text="${head.websiteName}"></span> может обрабатывать следующие персональные данные
            <li>
              Адрес электронной почты Пользователя;
            </li>
            <li>
              Имя Пользователя;
            </li>
            <li>
              Фамилия Пользователя;
            </li>
            <li>
              Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с
              помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
            </li>
          </ul>
          <ul class="about-subtitle">Цели обработки персональных данных
            <li>
              Цель обработки адреса электронной почты, имения, фамилии Пользователя -
              проведение авториации Пользователя на сайте <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a>.
              Также <span th:text="${head.websiteName}"></span> имеет право направлять Пользователю уведомление подтверждения
              активании учетной записи и прочего информирования. Пользователь всегда может отказаться
              от получения информационных сообщений, обративщий к Администрации веб-сайта
              <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a> через форму обратной связи.
            </li>
            <li>
              Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора
              информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
            </li>
          </ul>
          <ul class="about-subtitle">Правовые основания обработки персональных данных
            <li>
              <span th:text="${head.websiteName}"></span> обрабатывает персональные данные Пользователя только в случае их
              отправки Пользователем через формы, расположенные на сайте
              <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a>. Отправляя свои персональные данные
              <span th:text="${head.websiteName}"></span>, Пользователь выражает свое согласие с данной Политикой.
            </li>
            <li>
              <span th:text="${head.websiteName}"></span> обрабатывает обезличенные данные о Пользователе в случае, если это
              разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование
              технологии JavaScript).
            </li>
          </ul>
          <ul class="about-subtitle">Порядок сбора, хранения, передачи и других видов обработки персональных данных
            <li>
              <span th:text="${head.companyName}"></span> обеспечивает сохранность персональных данных и принимает все
              возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
            </li>
            <li>
              Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за
              исключением случаев, связанных с исполнением действующего законодательства.
            </li>
            <li>
              В случае выявления неточностей в персональных данных, Пользователь может актуализировать их через форму
              редактирования учетных данных Пользователя или оратиться к Администрации веб-сайта
              <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a> через форму обратной связи с пометкой
              «Актуализация персональных данных».
            </li>
            <li>
              Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать
              свое согласие на обработку персональных данных, направив Администрации веб-сайта
              <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a> уведомление через форму обратной связи с пометкой
              «Отзыв согласия на обработку персональных данных».
            </li>
          </ul>
          <ul class="about-subtitle">Заключительные положения
            <li>
              Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его
              персональных данных, обратившись к Администрации веб-сайта
              <a th:href="@{head.websiteURL}" th:text="${head.websiteName}"></a> через форму обратной связи .
            </li>
            <li>
              В данном документе будут отражены любые изменения политики обработки персональных данных
              <span th:text="${head.websiteName}"></span>. В случае существенных изменений Пользователю может быть выслана
              информация на указанный им электронный адрес.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>