<!DOCTYPE HTML>
<html class="h-100" data-lt-installed="true" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<body class="user-page flex-column">
    <header th:replace="fragments/header :: header" class="border-bottom"></header>
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div th:replace="fragments/menu-profile :: menu-profile"></div>
            </div>
            <div class="col">
                <div class="main-block">
                    <div class="row">
                        <h1 class="ttl-3">Новостные ресурсы</h1>
                        <div th:each="subscription : ${subscriptions}"
                             th:if="${subscription.resourceId.active}" class="col-auto m-2 resource-box" style="">
                            <form th:method="POST" th:action="@{/users/subscriptions}">
                                <input th:value="${subscription.id}" type="hidden" class="" name="id">
                                <input th:value="${subscription.userId.id}" type="hidden" class="" name="userId.id">
                                <input th:value="${subscription.resourceId.id}" type="hidden" class="" name="resourceId.id">
                                <input th:value="${subscription.active}" type="hidden" class="" name="active">

                                <button style="border: none; padding: 0.0rem;"
                                   th:class="${!subscription.active} ? 'resource' : 'resource active' " type="submit">
                                    <img th:src="@{/static/images/{imageResource}(imageResource = ${subscription.resourceId.resourceKey} + '.png')}"
                                         th:alt="${subscription.resourceId.fullName}"
                                         class="resource-img">
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>