<!DOCTYPE HTML>
<html class="h-100" data-lt-installed="true" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head :: head"></head>
<body class="d-flex flex-column h-100" style="background: #f5f5f7;">
<header th:replace="fragments/header :: header"></header>
<main class="container">
  <div class="row justify-content-center" style="">
    <div class="col-auto">
      <div th:replace="fragments/menu-about :: menu-about"></div>
    </div>
    <div class="col mb-3" style="max-width: 768px;">
      <div class="content-about">
        <div class="">
          <h1 class="about-title">Пользовательское соглашение</h1>
          <ul class="about-subtitle">Общие положения
            <li>
              Данное пользовательское соглашение, устанавливает условия и порядок использования материалов
              (текстовых, графических, видео, либо любых других) веб-сайта
              <a th:href="@{website}" th:text="${websiteName}"></a> расположенного в Интернете по адресу:
              <a th:href="@{website}" th:text="${website}"></a>.
            </li>
            <li>
              Используя размещенную на веб-сайте <a th:href="@{website}" th:text="${websiteName}"></a> информацию Вы
              обязуетесь соблюдать Правила закрепленные настоящим пользовательским соглашением.
            </li>
          </ul>
          <ul class="about-subtitle">
            <li>
              1. Информация размещенная на веб-сайте <a th:href="@{website}" th:text="${websiteName}"></a> носит
              новостной характер, т.е. раскрывается для дополнительного информирования заинтересованных пользователей.
            </li>
            <li>
              2. Администрация веб-сайта <a th:href="@{website}" th:text="${websiteName}"></a> не несет ответственности
              за любые убытки, ущерб, гражданскую ответственность или расходы, понесенные в результате использования
              информации находящейся на веб-сайте, включая, без исключения, любые возможные в этой связи неисправности,
              ошибки. Использование информации осуществляется пользователем на свой страх и риск. Ни при каких условиях,
              в том числе по небрежности, но не ограничиваясь ею, Администрация не несет ответственности за любой
              прямой, косвенный, случайный, преднамеренный или непреднамеренный ущерб.
            </li>
            <li>
              3. Веб-сайт <a th:href="@{website}" th:text="${websiteName}"></a> может содержать сообщения о событиях,
              советы, мнения, отзывы, комментарии и другие публикации различных поставщиков информации. Администрация
              не определяет и не подтверждает точности или надежности любых советов, мнений, заявлений или иной
              информации, предоставляемой любыми поставщиками информации или любым другим физическим или юридическим
              лицом. Пользование любыми такими советами, мнениями, публикациями или иной информацией осуществляется
              Пользователем на свой риск.
            </li>
            <li>
              4. Администрация веб-сайта <a th:href="@{website}" th:text="${websiteName}"></a>, а также поставщики
              информации или материалов, не несут ответственности ни перед одним пользователем или любым другим лицом
              за любые неточности, ошибки, пропуски, нарушения, удаления, дефекты, изменения или использование любых
              предлагаемых материалов или за их актуальность и точность.
            </li>
            <li>
              5. Если пользователь не удовлетворен любыми материалами веб-сайта
              <a th:href="@{website}" th:text="${websiteName}"></a> или любыми условиями пользования,
              единственным и исключительным средством в распоряжении пользователя является добровольный отказ от
              использования веб-сайта.
            </li>
          </ul>
          <ul class="about-subtitle">Заключение
            <li>
              Текст и условия данного Пользовательского соглашения могут быть в любой момент изменены Правообладателем
              веб-сайта<a th:href="@{website}" th:text="${websiteName}"></a> в одностороннем порядке без особого
              предварительного и последующего уведомления. Изменение условий Соглашения производится в порядке
              опубликования Новой редакции Пользовательсного соглашения, которая вступает в силу для всех
              пользователей и посетителей веб-сайта <a th:href="@{website}" th:text="${websiteName}"></a>
              с момента размещения Новой редакции на веб-сайте в разделе:
              <a th:href="@{website}  + 'about/useragreement'" th:text="${'Пользовательское соглашение'}"></a>
              и доступна для ознакомления в любой момент.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>